<template>
    <v-flex xs12 :sm6="!!ctx.element.half">
        <v-select
                v-model="ctx.data[ctx.element.name]"
                :items="ctx.element.enum"
                :label="ctx.element.label||ctx.element.name"
                :hint="ctx.element.hint"
                persistent-hint
                :append-icon="ctx.element.edit?'edit':''"
                :readonly="!ctx.element.edit"
                @input="changed"
        ></v-select>
    </v-flex>
</template>

<script>
    import {elementMixin} from '../../mixins';

    export default {
        name: 'FormEnum',
        mixins: [elementMixin],
        methods: {
            changed() {
                this.$emit('changed', {ctx: this.ctx});
            }
        },
        created() {
            // Ensure enum is array of string
            let enum_ = [];
            for (let s of this.ctx.element.enum || []) enum_.push(s.toString());
            this.$set(this.ctx.element, 'enum', enum_);
        }
    };
</script>

<style scoped></style>