<template>
    <v-flex xs12 :sm6="!!ctx.element.half">
        <p class="caption mb-0 mt-1" style="color:grey">{{ctx.element.label||ctx.element.name}}</p>

        <v-radio-group
                v-if="ctx.element.edit"
                v-model="ctx.data[ctx.element.name]"
                :mandatory="false">

            <v-radio v-for="(tv,idx) in ctx.element.text_value" :key="idx"
                     :label="tv.text"
                     :value="tv.value"
                     style="align-items:start"
                     @input="changed"
            ></v-radio>

        </v-radio-group>
        <p v-else class="subheading">{{display()}}</p>

        <p v-if="ctx.element.edit" class="caption" style="color:grey">{{ctx.element.hint}}</p>
    </v-flex>
</template>

<script>
    import {elementMixin} from '../../mixins';

    export default {
        name: 'FormRadio',
        mixins: [elementMixin],
        methods: {
            display() {
                const value = this.ctx.data[this.ctx.element.name];
                for (const tv of this.ctx.element.text_value) if (tv.value === value) return tv.text;
                return 'N/A';
            },
            changed() {
                this.$emit('changed', {ctx: this.ctx});
            }
        },
        created() {
            if (this.ctx.data[this.ctx.element.name] === null && this.ctx.element.null_value !== undefined)
                this.ctx.data[this.ctx.element.name] = this.ctx.element.null_value;
            this.$set(this.ctx.element, 'text_value', this.ctx.element.text_value || []);
        }
    };
</script>

<style scoped></style>