<template>
    <v-flex xs12 :sm6="!!ctx.element.half">
        <v-textarea
                v-if="ctx.element.edit"
                v-model="ctx.data[ctx.element.name]"
                @input="changed"
                :label="ctx.element.label||ctx.element.name"
                :hint="ctx.element.hint"
                append-icon="edit"
                auto-grow
                rows="1"
        ></v-textarea>
        <div v-else>
            <p class="caption mb-0 mt-1" style="color:grey">{{ctx.element.label||ctx.element.name}}</p>
            <p v-for="(line,idx) in lines" :key="idx" class="subheading ma-0">{{line}}</p>
            <p class="caption" style="color:grey">{{ctx.element.hint}}</p>
        </div>
    </v-flex>
</template>

<script>
    import {elementMixin} from '../../mixins';

    export default {
        name: 'FormTextarea',
        mixins: [elementMixin],
        computed: {
            lines() {
                const value = this.ctx.data[this.ctx.element.name];
                if (value === null) return ['N/A'];
                if (typeof value === 'string') return value.split('\n');
                return value;
            }
        },
        methods: {
            changed() {
                this.$emit('changed', {ctx: this.ctx});
            }
        },
        created() {
            this.ctx.element.beforeSubmit = () => {
                let val = this.ctx.data[this.ctx.element.name];
                if (val && typeof val === 'string') val = val.trim();
                this.ctx.data[this.ctx.element.name] = val ? val : null;
            };
        }
    };
</script>

<style scoped></style>