<template>
    <v-flex xs12 :sm6="!!ctx.element.half">

        <p class="caption mb-0 mt-1" style="color:grey">{{ctx.element.label||ctx.element.name}}</p>
        <div class="thin-underline">
                    <pre :contenteditable="ctx.element.edit?'true':'false'"
                         class="subheading"
                         :style="ctx.element.style"
                         @input="changed($event)"
                    >{{initContent}}</pre>
            <v-icon v-if="ctx.element.edit">edit</v-icon>
        </div>
        <p class="caption" style="color:grey">{{ctx.element.hint}}</p>

    </v-flex>
</template>

<script>
    import {elementMixin} from '../../mixins';

    export default {
        name: 'FormPre',
        mixins: [elementMixin],
        data() {
            return {
                initContent: ''
            };
        },
        methods: {
            changed(ev) {
                this.$emit('changed', {ctx: this.ctx});
                this.ctx.data[this.ctx.element.name] = ev.target.innerText.replace(/\n\n/g, '\n');
            }
        },
        created() {
            this.$set(this.ctx.element, 'style', this.ctx.element.style || {});
            this.initContent = this.ctx.data[this.ctx.element.name];
        }
    };
</script>

<style scoped>
    .thin-underline {
        border-bottom-color: rgba(0, 0, 0, 0.42);
        border-bottom-style: solid;
        border-bottom-width: thin;

        display: flex;
        flex: 1 1 auto;
        align-items: start;
    }

    pre {
        width: 100%;
        outline: none;
        overflow: hidden;
    }
</style>