<template>
    <v-flex xs12 sm6>
        <v-menu
                v-if="ctx.element.edit"
                v-model="menu"
                :close-on-content-click="false"
                full-width
                max-width="295"
        >
            <v-text-field
                    :value="sqlDateToText(ctx.data[ctx.element.name])"
                    :label="ctx.element.label||ctx.element.name"
                    slot="activator"
                    append-icon="event edit"
                    readonly
            ></v-text-field>

            <v-date-picker
                    v-model="ctx.data[ctx.element.name]"
                    @input="changed"
                    no-title
            >
                <v-btn @click="closeMenu">OK</v-btn>
                <v-btn @click="setToday">Today</v-btn>
                <v-btn @click="unset">Unset</v-btn>
            </v-date-picker>

        </v-menu>
        <v-text-field
                v-else
                :value="sqlDateToText(ctx.data[ctx.element.name])"
                :label="ctx.element.label||ctx.element.name"
                append-icon="event" readonly
        ></v-text-field>

        <p class="caption" style="color:grey">{{ctx.element.hint}}</p>
    </v-flex>
</template>

<script>
    import {DATE_NOW, sqlDateToText} from '../../lib-date';
    import {elementMixin} from '../../mixins';

    export default {
        name: 'FormDate',
        mixins: [elementMixin],

        data() {
            return {
                menu: false
            };
        },

        methods: {
            sqlDateToText,

            closeMenu() {
                this.menu = false;
            },

            setToday() {
                this.ctx.data[this.ctx.element.name] = DATE_NOW;
                this.changed();
                this.closeMenu();
            },

            unset() {
                this.ctx.data[this.ctx.element.name] = null;
                this.changed();
                this.closeMenu();
            },

            changed() {
                this.$emit('changed', {ctx: this.ctx});
            }
        }
    };
</script>

<style scoped></style>