<template>
    <v-flex xs12 :sm6="!!ctx.element.half">
        <v-text-field
                v-if="ctx.element.edit"
                v-model="ctx.data[ctx.element.name]"
                @input="changed"
                :label="ctx.element.label||ctx.element.name"
                :hint="ctx.element.hint"
                append-icon="edit"
        ></v-text-field>
        <div v-else>
            <p class="caption mb-0 mt-1" style="color:grey">{{ctx.element.label||ctx.element.name}}</p>
            <p class="subheading">{{display()}}</p>
            <p class="caption" style="color:grey">{{ctx.element.hint}}</p>
        </div>
    </v-flex>
</template>

<script>
    import {elementMixin} from '../../mixins';

    export default {
        name: 'FormText',
        mixins: [elementMixin],
        methods: {
            display() {
                return this.ctx.data[this.ctx.element.name] === null ?
                    'N/A' : this.ctx.data[this.ctx.element.name];
            },
            changed() {
                this.$emit('changed', {ctx: this.ctx});
            }
        },
        created() {
            this.ctx.element.beforeSubmit = () => {
                let val = this.ctx.data[this.ctx.element.name];
                if (val && typeof val === 'string') val = val.trim();
                this.ctx.data[this.ctx.element.name] = val ? val : null;
            };
        }
    };
</script>

<style scoped></style>