<template>
    <BaseItemsSearchTable :ctx="ctx">

        <template slot="render" slot-scope="props">
            <v-chip v-for="(i,idx) in props.items"
                    :key="idx"
                    :close="ctx.element.edit"
                    v-model="i.$chip"
                    @input="cleanUpChipItems(props)"
            >{{display(i[ctx.element.prop])}}
            </v-chip>
        </template>

    </BaseItemsSearchTable>
</template>

<script>
    import BaseItemsSearchTable from '../base/BaseItemsSearchTable.vue';
    import {itemsMixin} from '../../mixins';

    export default {
        name: "ItemsSearchTable",
        mixins: [itemsMixin],
        components: {BaseItemsSearchTable},
        methods: {
            display(txt) {
                if (txt.length > this.ctx.element.display_length)
                    return txt.slice(0, this.ctx.element.display_length - 3) + '...';
                return txt;
            },
            cleanUpChipItems(props) {
                props.items.forEach(i => {
                    if (i.$chip === false) {
                        delete i.$chip;
                        props.deleteItem(i);
                    }
                });
            }
        },
        created() {
            if (this.ctx.element.display_length === undefined)
                this.$set(this.ctx.element, 'display_length', 15);
        }
    };
</script>

<style scoped></style>