<template>
    <v-flex xs12>

        <p class="caption mb-0 mt-1" style="color:grey">{{ctx.element.label||ctx.element.name}}</p>

        <v-dialog
                v-if="dialog"
                v-model="dialog"
                :fullscreen="$vuetify.breakpoint.smAndDown"
        >
            <SubForm :sub="subctx" @changed="changed($event)"></SubForm>
        </v-dialog>

        <v-data-table
                class="elevation-1"
                hide-actions
                disable-initial-sort
                :headers="ctx.element.headers"
                :items="noDeletedItems"
        >

            <template slot="headers" slot-scope="props">
                <tr class="secondary">
                    <th v-for="(header,idx) in props.headers" :key="idx"
                        class="text-xs-left"
                    >{{header.text}}
                    </th>
                </tr>
            </template>

            <template slot="items" slot-scope="props">
                <tr style="vertical-align:top">
                    <td v-for="(header,idx) in ctx.element.headers" :key="idx"
                        :style="header.style"
                        @click="openDialog(props.item)"
                    >
                        {{display(header,props.item)}}
                        <v-icon small v-if="header.edit">edit</v-icon>
                    </td>
                </tr>
            </template>

        </v-data-table>

        <v-layout>
            <!--Add button-->
            <v-btn v-if="ctx.element.may_add"
                   @click="addItem"
                   icon
            >
                <v-icon color="secondary" large>add_circle</v-icon>
            </v-btn>
        </v-layout>

        <p class="caption" style="color:grey">{{ctx.element.hint}}</p>

    </v-flex>
</template>

<script>
    import {itemsMixin} from '../../mixins';
    import SubForm from '../base/SubForm.vue';
    import {sqlDateTimeToText, sqlDateToText} from '../../lib-date';

    export default {
        name: 'FormTable',
        mixins: [itemsMixin],
        components: {SubForm},

        data() {
            return {
                items: [],
                subctx: {},
                dialog: false
            };
        },

        computed: {
            noDeletedItems() {
                return this.items.filter(i => !i.$delete);
            }
        },

        methods: {
            display(header, item) {
                const val = item[header.value];
                if (val === undefined || val === null) return 'N/A';
                if (header.type === 'date') return sqlDateToText(val);
                if (header.type === 'datetime') return sqlDateTimeToText(val);
                return val;
            },

            openDialog(item) {
                if (!this.ctx.element.elements) return;

                let buttons = [{name: 'OK'}];
                if (this.ctx.element.may_delete) buttons.push({name: 'DELETE'});
                this.subctx = {
                    data: item,
                    elements: this.ctx.element.elements,
                    buttons,
                    click: button => {
                        if (button.name === 'DELETE') {
                            item.$delete = true;
                            this.refreshItemsAndRerender();
                        }
                        this.dialog = false;
                    }
                };
                this.dialog = true;
            },

            addItem() {
                this.items.push({$insert: true});
                this.ctx.element.$render++; // Re-render / re-create this component
            },

            refreshItemsAndRerender() {
                const items = [];
                this.items.forEach(item => {
                    if (item.$delete && item.$insert) return;
                    items.push(item);
                });
                this.items = items;

                this.ctx.data[this.ctx.element.name] = items;
                this.ctx.element.$render++; // Re-render / re-create this component
            },

            changed(ev) {
                if (!ev.ctx.data.$insert) ev.ctx.data.$update = true;
                this.$emit('changed', {ctx: this.ctx, sub: ev.ctx});
            }
        },

        created() {
            if (this.ctx.element.may_delete === undefined)
                this.$set(this.ctx.element, 'may_delete', false);
            if (this.ctx.element.may_add === undefined)
                this.$set(this.ctx.element, 'may_add', false);
            this.items = this.ctx.data[this.ctx.element.name];
        }
    };
</script>

<style scoped></style>