<template>
    <v-flex xs12>

        <p class="caption ma-0 mt-1" style="color:grey">{{element.label||element.name}}</p>

        <v-layout v-for="(item,idx) in items" :key="idx" align-center>
            <!--Delete button-->
            <v-btn v-if="element.delete"
                   @click="deleteItem(item)"
                   icon
            >
                <v-icon color="secondary">delete</v-icon>
            </v-btn>

            <!--Selections-->
            <v-autocomplete
                    v-model="item[element.item_name]"
                    @input="setEditAndEmit(item,element.name,element.item_name)"
                    :items="ctx.items[element.select.items]"
                    :item-text="element.select.text_key"
                    :item-value="element.select.value_key"
                    :append-icon="element.edit?'edit':''"
                    :readonly="!element.edit"
            ></v-autocomplete>
        </v-layout>

        <v-layout column>
            <!--Add button-->
            <v-btn v-if="element.add"
                   @click="addItem"
                   icon
            >
                <v-icon color="secondary" large>add_circle</v-icon>
            </v-btn>
        </v-layout>

        <p class="caption" style="color:grey">{{element.hint}}</p>

    </v-flex>
</template>

<script>
    import {elementMixin} from '../../mixins';

    export default {
        name: 'ItemsMultiSelectSearch',
        mixins: [elementMixin],

        computed: {
            items() {
                let items = [];
                for (let item of this.ctx.items[this.element.name]) {
                    if (item.$delete) continue;
                    items.push(item);
                }
                return items;
            }
        },

        methods: {
            addItem() {
                let item = {};
                item[this.element.item_name] = '';
                this.callElementHook('hook_add_item', f => {
                    item = f({ctx: this.ctx, elementName: this.element.name});
                });
                item.$insert = true;
                this.ctx.items[this.element.name].push(item);
            },

            deleteItem(item) {
                item.$delete = true;
                if (item.$update) delete item.$update;

                // Scan items for $insert and $delete
                let items = [];
                for (let item of this.ctx.items[this.element.name]) {
                    if (item.$insert && item.$delete) continue;
                    items.push(item);
                }
                this.$set(this.ctx.items, this.element.name, items);
            },

            setEditAndEmit(item, name, item_name) {
                if (!item.$insert) item.$update = true;

                runChangedHook

                // Remove duplication
                if (this.element.duplicate) return; // return if duplication is allowed
                let selected = {};
                let items = [];
                for (let item of this.ctx.items[this.element.name]) {
                    let val = item[this.element.item_name];
                    if (selected[val]) continue;
                    selected[val] = true;
                    items.push(item);
                }
                this.$set(this.ctx.items, this.element.name, items);
            }
        },

        created() {
            // TODO

            // this.element.item_name = this.element.item_name || 'name';
            //
            // this.element.select = this.element.select || {};
            // this.element.select.items = this.element.select.items || 'select';
            // this.element.select.text_key = this.element.select.text_key || 'text';
            // this.element.select.value_key = this.element.select.value_key || 'value';
            //
            // this.$set(
            //     this.ctx.items,
            //     this.element.name,
            //     this.ctx.items[this.element.name] || []);
        }
    };
</script>

<style scoped></style>