<template>
    <v-flex>
        <h1 v-if="ctx.page.title">{{ctx.page.title}}</h1>

        <p v-if="isString(ctx.page.description)">{{ctx.page.description}}</p>
        <template v-else-if="isArray(ctx.page.description)">
            <p v-for="(txt,di) in ctx.page.description" :key="di">{{txt}}</p>
        </template>

        <template v-if="ctx.page.widgets">
            <template v-for="(widget,idx) in ctx.page.widgets">
                <component
                        v-show="!widget.hide"
                        :key="idx"
                        :is="widget.tag"
                        :ctx="{...ctx,widget}"
                ></component>
            </template>
        </template>

        <RenderForm
                v-if="ctx.page.form"
                :ctx="{...ctx,form:ctx.page.form}"
        ></RenderForm>
    </v-flex>
</template>

<script>
    import RenderForm from './RenderForm.vue';
    import {isArray, isString} from 'check';

    export default {
        name: "RenderPage",
        components: {RenderForm},
        props: ['ctx'],
        methods: {
            isArray,
            isString
        }
    };
</script>

<style scoped></style>