<template>
    <v-layout column :key="ctx.$render">

        <!-- Render 1 page without tab-->
        <RenderPage
                v-if="ctx.pages&&ctx.pages.length===1&&!ctx.pages[0].tab"
                :ctx="{...ctx,page:ctx.pages[0]}"
        ></RenderPage>
        <!-- else render page in tabs -->
        <v-tabs v-else color="primary" dark show-arrows>
            <template v-for="(page,idx) in ctx.pages">
                <v-tab v-show="!page.hide" :key="`t:${idx}`">{{page.tab}}</v-tab>
            </template>
            <v-tabs-items>

                <!-- Pages -->
                <v-tab-item v-for="(page,idx) in ctx.pages" :key="`i:${idx}`">
                    <RenderPage
                            v-show="!page.hide"
                            :ctx="{...ctx,page}"
                    ></RenderPage>
                </v-tab-item>

            </v-tabs-items>
        </v-tabs>

        <v-flex v-if="ctx.debug&&debugData">
            <v-card>
                <v-card-title class="black">
                    <h2>[DEBUG] Submit</h2>
                    <v-spacer></v-spacer>
                    <v-btn @click="continueSubmit">Continue</v-btn>
                    <v-btn @click="cancelSubmit">Cancel</v-btn>
                </v-card-title>
                <v-card-text>
                    <pre v-if="debugData">data: {{debugData}}</pre>
                </v-card-text>
            </v-card>
        </v-flex>

        <v-flex v-if="ctx.debug">
            <v-card>
                <v-card-title class="black"><h2>[DEBUG] View and Context</h2></v-card-title>
                <v-card-text>
                    <pre>ctx: {{ctx}}</pre>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    import RenderPage from './RenderPage.vue';
    import {runHook} from '../lib-hook';

    export default {
        name: 'RenderView',
        props: ['ctx'],
        components: {RenderPage},

        data() {
            return {
                debugData: null
            };
        },

        methods: {
            ctxUpdated() {
                if (this.ctx.debug && typeof this.ctx.debug === 'boolean') {
                    this.ctx.debug = {
                        hold: data => {this.debugData = data;}
                    };
                    window.$debug = {ctx: this.ctx}; // publish $debug when in debug mode
                }

                const noop = () => {};
                const done = () => {this.ctx.$render++;};
                const error = err => {console.error(`error beforeView hook: ${err}`);};
                runHook(this.ctx, 'beforeView', noop, this.ctx, done, error);
            },

            continueSubmit() {
                this.ctx.debug.doSubmit();
            },

            cancelSubmit() {
                this.debugData = null;
            }
        },

        // TODO I think below ctx watcher is no longer relevant due to new render mechanism
        // watch: {
        //     ctx(newVal, oldVal) {
        //         this.ctxUpdated();
        //     }
        // },

        created() {
            this.ctxUpdated();

            // TODO I think below ctx watcher is no longer relevant due to new render mechanism
            // this.$watch('$route.path', () => {
            //     this.cancelSubmit();
            // });
        }
    };
</script>

<style scoped>
    h2 {
        color: white;
    }

    pre {
        overflow: hidden;
        -ms-text-overflow: ellipsis;text-overflow: ellipsis;
    }
</style>