<template>
    <div>
        <!-- Form -->
        <v-card>

            <v-card-title class="accent" v-if="ctx.form.title||ctx.form.description">
                <div>
                    <h3 v-if="ctx.form.title" class="title">{{ctx.form.title}}</h3>
                    <p v-if="ctx.form.description" class="subheading mt-2 mb-2">{{ctx.form.description}}</p>
                </div>
            </v-card-title>

            <v-card-text>
                <v-form v-model="valid" @submit.prevent>
                    <v-container grid-list-lg>
                        <v-layout v-if="ctx.form.elements" row wrap>
                            <template v-for="(element,idx) in ctx.form.elements">
                                <component
                                        v-show="!element.hide"
                                        :key="`${idx}:${element.$render}`"
                                        :is="element.tag"
                                        :ctx="{...ctx,element}"
                                        @changed="changed($event)"
                                ></component>
                            </template>
                        </v-layout>
                    </v-container>
                </v-form>
            </v-card-text>

            <v-card-actions v-if="ctx.form.buttons" class="text-xs-center justify-center">
                <v-btn
                        v-for="(button,bi) in ctx.form.buttons"
                        :key="bi"
                        color="primary"
                        @click="click(button)"
                >{{button.name}}
                </v-btn>
            </v-card-actions>

        </v-card>

        <!-- Validation -->
        <v-dialog v-model="dialog" width="500">
            <v-card>
                <v-card-title><span class="headline">Validation Error</span></v-card-title>
                <v-card-text>
                    <v-alert
                            v-for="(err,idx) in errors" :key="idx"
                            value="1"
                            type="error"
                            outline
                    >{{err}}
                    </v-alert>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {runHook} from '../lib-hook';
    import {apiSubmit} from '../api';

    export default {
        name: "RenderForm",
        props: ['ctx'],
        data() {
            return {
                valid: false,
                errors: [],
                dialog: false
            };
        },
        methods: {
            changed(ev) {
                // Run the changed hook using element's ctx
                const noop = () => {};
                const error = err => {console.error(`error changed hook: ${err}`);};
                runHook(ev.ctx.form, 'changed', noop, ev.ctx, ev.ctx.element.name, noop, error);
            },

            click(button) {
                if (button.confirmation && !confirm(button.confirmation)) return;

                const submit = () => {
                    // This beforeSubmit is callback for each element component to provide way to clean up data
                    // before submit. For example to trim the string and set to null if it is empty string.
                    this.ctx.form.elements.forEach(el => {
                        if (el.beforeSubmit) el.beforeSubmit();
                    });

                    const proceed = () => {
                        const data = JSON.parse(JSON.stringify(this.ctx.data));
                        const checkDebug = () => {
                            const doSubmit = () => {
                                if (button.$token)
                                    apiSubmit(this, button.$token, data, ret => {
                                        if (button.success) alert(button.success);

                                        const closeAfterSubmit =
                                            (ret && ret.closeAfterSubmit !== undefined && ret.closeAfterSubmit) ||
                                            this.ctx.closeAfterSubmit;
                                        const urlAfterSubmit = (ret && ret.urlAfterSubmit !== undefined && ret.urlAfterSubmit) ||
                                            this.ctx.urlAfterSubmit;
                                        if (closeAfterSubmit)
                                            window.close();
                                        else if (urlAfterSubmit)
                                            this.$router.push(urlAfterSubmit);
                                    });
                            };
                            if (this.ctx.debug) {
                                this.ctx.debug.doSubmit = doSubmit;
                                this.ctx.debug.hold(data);
                            } else
                                doSubmit();
                        };

                        const errorBeforeSubmit = err => {console.error(`error beforeSubmit hook: ${err}`);};
                        runHook(this.ctx.form, 'beforeSubmit', checkDebug,
                            {
                                ...this.ctx,
                                buttonClicked: button.name
                            },
                            data, checkDebug, errorBeforeSubmit);
                    };

                    if (!button.skipValidation) {
                        const errorValidation = err => {console.error(`error validation hook: ${err}`);};
                        const validateAndProceed = rules => {

                            // Validate
                            const errors = [];
                            rules.forEach(rule => {
                                const err = rule(this.ctx.data);
                                if (err && typeof err === 'string') errors.push(err);
                            });
                            this.errors = errors;
                            this.dialog = !!errors.length;

                            // Submit
                            if (!errors.length) proceed();
                        };
                        runHook(this.ctx.form, 'validation', proceed, this.ctx, validateAndProceed, errorValidation);
                    } else
                        proceed();
                };
                const errorButtonClicked = err => {console.error(`error buttonClicked hook: ${err}`);};
                runHook(this.ctx.form, 'buttonClicked', submit, this.ctx, button.name, submit, errorButtonClicked);
            }
        }
    };
</script>

<style scoped></style>