<template>
    <h1>{{ctx.widget.text}}</h1>
</template>

<script>
    import {widgetMixin} from '../../mixins';

    export default {
        name: 'WidgetTitle',
        mixins: [widgetMixin]
    };
</script>

<style scoped></style>