<template>
    <p>{{ctx.widget.text}}</p>
</template>

<script>
    import {widgetMixin} from '../../mixins';

    export default {
        name: 'WidgetParagraph',
        mixins: [widgetMixin]
    };
</script>

<style scoped></style>