<template>
    <v-btn color="primary" :to="ctx.widget.url">
        <v-icon left v-if="ctx.widget.icon_left">{{ctx.widget.icon_left}}</v-icon>

        <v-icon v-if="ctx.widget.icon">{{ctx.widget.icon}}</v-icon>
        <template v-else>{{ctx.widget.text}}</template>

        <v-icon right v-if="ctx.widget.icon_right">{{ctx.widget.icon_right}}</v-icon>
    </v-btn>
</template>

<script>
    import {widgetMixin} from '../../mixins';

    export default {
        name: 'WidgetButton',
        mixins: [widgetMixin]
    };
</script>

<style scoped></style>