<template>
    <BaseList :base="base"></BaseList>
</template>

<script>
    import {apiAllTasks} from '../../api';
    import BaseList from '../base/BaseList.vue';

    export default {
        name: "WidgetAllTasks",
        components: {BaseList},
        data() {
            return {
                base: {items: [], no_data: '-- no tasks assigned --'}
            };
        },
        created() {
            const jwt = localStorage.getItem('jwt');
            if (!jwt) return;
            apiAllTasks(this, jwt, allTasks => {
                this.base.items = allTasks;
            });
        }
    };
</script>

<style scoped></style>