<template>
    <BaseList :base="base"></BaseList>
</template>

<script>
    import {widgetMixin} from '../../mixins';
    import BaseList from '../base/BaseList.vue';

    export default {
        name: "WidgetList",
        mixins: [widgetMixin],
        components: {BaseList},
        data() {
            return {
                base: {}
            };
        },
        created() {
            this.base = {
                items: this.ctx.data[this.ctx.widget.ref] || [],
                no_data: this.ctx.widget.no_data || '-- no data --'
            };
        }
    };
</script>

<style scoped></style>