<template>
    <v-card color="grey lighten-4">
        <v-card-title class="accent">
            <h3>{{ctx.widget.title}}</h3>
            <v-spacer></v-spacer>
            <v-btn v-if="ctx.widget.save_to_csv" flat @click="saveToCSV">Save to CSV</v-btn>
        </v-card-title>

        <v-card-text>
            <v-layout column ma-0>
                <h5>API Query</h5>
                <v-layout row wrap>
                    <v-chip v-for="(f,idx) in ctx.widget.where.filters" :key="idx"
                            v-model="f.$chip"
                            @input="removeFilter"
                            close
                    >{{f.display?f.display:f.sql}}
                    </v-chip>
                </v-layout>
                <v-text-field v-model="sql"
                              :label="ctx.widget.where.label"
                              :hint="ctx.widget.where.hint"
                              @keyup.enter="addFilter"
                              @click="addFilter"
                ></v-text-field>
                <div ref="box" v-if="tableReady" class="box" :style="{'max-height':ctx.widget.height}">
                    <VueScrollingTable dead-area-color="#efa107">
                        <template slot="thead">
                            <tr>
                                <th v-for="(header,idx) in headers"
                                    :key="idx"
                                    class="secondary text-xs-left"
                                >{{header.text}}
                                </th>
                            </tr>
                        </template>
                        <template slot="tbody">
                            <tr v-for="(item,idx) in items"
                                :key="idx"
                                @click="clickItem(item)"
                                style="cursor:pointer"
                            >
                                <td v-for="(header,idx) in headers"
                                    :key="idx"
                                >{{item[header.value]}}
                                </td>
                            </tr>
                        </template>
                    </VueScrollingTable>
                </div>
                <div v-else>{{ctx.widget.no_data}}</div>
                <p class="caption mt-3">{{items.length}} rows</p>
            </v-layout>
        </v-card-text>
    </v-card>
</template>

<script>
    import {saveAsFile} from '../../lib';
    import stringify from 'csv-stringify/lib/sync';
    import {widgetMixin} from '../../mixins';
    import VueScrollingTable from '../base/VueScrollingTable.vue';
    import {apiCallWidget} from '../../api';
    import {runHook} from '../../lib-hook';

    export default {
        name: "WidgetTableAPIQuery",
        mixins: [widgetMixin],

        components: {VueScrollingTable},

        data() {
            return {
                sql: '',
                callInProgress: false,

                tableReady: false,
                headers: [],
                items: []
            };
        },
        methods: {
            removeFilter() {
                this.ctx.widget.where.filters = this.ctx.widget.where.filters.filter(f => {
                    return f.$chip !== false;
                });
                this.delayAPI();
            },
            addFilter() {
                if (!this.sql) return;
                this.ctx.widget.where.filters.push({sql: this.sql});
                this.sql = '';
                this.delayAPI();
            },
            delayAPI() {
                if (this.callInProgress) return;
                this.callInProgress = true;
                setTimeout(() => {
                    this.api();
                    this.callInProgress = false;
                }, 3000);
            },
            api() {
                if (this.ctx.widget.session)
                    sessionStorage.setItem(this.ctx.widget.session, JSON.stringify(this.ctx.widget.where.filters));

                let where = [];
                this.ctx.widget.where.filters.forEach(f => {
                    where.push(f.sql);
                });

                this.tableReady = false;

                if (this.ctx.widget.api.$token)
                    apiCallWidget(this, this.ctx.widget.api.$token, 'query', {where}, hi => {
                        this.headers = hi.headers;
                        this.items = hi.items;
                        this.tableReady = true;
                        this.$nextTick(() => {
                            const box = this.$refs.box;
                            if (box && box.scrollHeight > box.clientHeight)
                                box.style.height = box.clientHeight + 'px';
                        });
                    });
            },
            clickItem(item) {
                const noHook = () => {console.error('error itemToURL hook is not defined');};
                const done = url => {window.open(url);};
                const error = err => {console.error(`error itemToURL hook: ${err}`);};
                runHook(this.ctx.widget, 'itemToURL', noHook, this.ctx, item, done, error);
            },
            saveToCSV() {
                let title = [];
                if (this.ctx.widget.save_to_csv.save_all_columns) {
                    if (this.items.length) for (let i in this.items[0]) title.push(i);
                } else {
                    this.headers.forEach(header => {
                        title.push(header.value);
                    });
                }

                let data = [title];

                this.items.forEach(i => {
                    let row = [];
                    this.headers.forEach(header => {
                        row.push(i[header.value]);
                    });
                    data.push(row);
                });
                data = stringify(data);

                saveAsFile(data, 'text/csv', this.ctx.widget.save_to_csv.file);
            }
        },
        created() {
            this.$set(this.ctx.widget, 'height', this.ctx.widget.height || '80vh');
            this.$set(this.ctx.widget, 'title', this.ctx.widget.title || 'No Title');
            this.$set(this.ctx.widget, 'no_data', this.ctx.widget.no_data || '-- no data --');
            this.$set(this.ctx.widget, 'session', this.ctx.widget.session || '');

            this.$set(this.ctx.widget, 'save_to_csv', this.ctx.widget.save_to_csv || {});
            if (this.ctx.widget.save_to_csv.save_all_columns === undefined)
                this.$set(this.ctx.widget.save_to_csv, 'save_all_columns', true);
            this.$set(this.ctx.widget.save_to_csv, 'file',
                this.ctx.widget.save_to_csv.file || 'file.csv');

            this.$set(this.ctx.widget, 'where', this.ctx.widget.where || {});
            this.$set(this.ctx.widget.where, 'label', this.ctx.widget.where.label || 'where');
            this.$set(this.ctx.widget.where, 'filters', this.ctx.widget.where.filters || []);

            if (this.ctx.widget.session) {
                const savedFilters = sessionStorage.getItem(this.ctx.widget.session);
                if (savedFilters) this.ctx.widget.where.filters = JSON.parse(savedFilters);
            }

            this.api();
        }
    };
</script>

<style scoped>
    table {
        table-layout: fixed;
    }

    th, td {
        font-family: 'Roboto', sans-serif;
        padding: 0.5rem;
    }

    th {
        color: rgba(0, 0, 0, 0.54);
    }

    td {
        vertical-align: top;
    }

    table.scrolling td:first-child,
    table.scrolling th:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
    }

    .secondary {
        background: #efa107;
    }
</style>