<template>
    <v-btn @click="saveToCSV">{{ctx.widget.text}}</v-btn>
</template>

<script>
    import {widgetMixin} from '../../mixins';
    import stringify from 'csv-stringify/lib/sync';
    import {saveAsFile} from '../../lib';

    export default {
        name: "WidgetSaveToCSV",
        mixins: [widgetMixin],

        methods: {
            saveToCSV() {
                const items = this.ctx.data[this.ctx.widget.ref];
                if (!items.length) {
                    alert('No data to be saved');
                    return;
                }

                const headers = this.ctx.widget.headers ? this.ctx.widget.headers : Object.keys(items[0]);

                const data = [headers];
                items.forEach(item => {
                    const row = [];
                    headers.forEach(col => {row.push(item[col]);});
                    data.push(row);
                });

                const csvString = stringify(data);
                saveAsFile(csvString, 'text/csv', this.ctx.widget.file_name || 'save.csv');
            }
        }
    };
</script>

<style scoped></style>