<template>
    <v-data-table
            class="elevation-1"
            hide-actions
            disable-initial-sort
            :headers="ctx.widget.headers"
            :items="items"
    >
        <template slot="headers" slot-scope="props">
            <tr class="secondary">
                <th v-for="(header,idx) in props.headers" :key="idx" class="text-xs-left">{{header.text}}</th>
            </tr>
        </template>

        <template slot="items" slot-scope="props">
            <tr style="vertical-align:top">
                <td v-for="(header,idx) in ctx.widget.headers" :key="idx">
                    <template v-if="Array.isArray(props.item[header.value])">
                        <p v-for="(val,idx) in props.item[header.value]" :key="idx">{{val}}</p>
                    </template>
                    <template v-else>
                        {{props.item[header.value]}}
                    </template>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>

<script>
    import {widgetMixin} from '../../mixins';
    import {sqlDateTimeToText, sqlDateToText} from '../../lib-date';
    import {runHook} from '../../lib-hook';

    export default {
        name: "WidgetTable",
        mixins: [widgetMixin],
        data() {
            return {
                items: []
            };
        },
        created() {
            if (this.ctx.widget.ref && !this.ctx.widget.items)
                this.items = this.ctx.data[this.ctx.widget.ref];
            if (!this.ctx.widget.ref && this.ctx.widget.items)
                this.items = this.ctx.widget.items;

            this.items.forEach(item => {
                this.ctx.widget.headers.forEach(header => {
                    const val = item[header.value];

                    if (header.type === 'date') item[header.value] = sqlDateToText(val);
                    if (header.type === 'datetime') item[header.value] = sqlDateTimeToText(val);
                    if (header.type === 'multilines') item[header.value] = val.split('\n');

                    if (header.transform) {
                        const noHook = () => {console.error(`error ${header.transform} hook is not defined`);};
                        const done = value => {item[header.value] = value;};
                        const error = err => {console.error(`error ${header.transform} hook: ${err}`);};
                        runHook(this.ctx.widget, header.transform, noHook, this.ctx, val, done, error);
                    }
                });
            });
        }
    };
</script>

<style scoped></style>