<template>
    <v-alert value="1" type="error" outline>{{ctx.widget.text}}</v-alert>
</template>

<script>
    import {widgetMixin} from '../../mixins';

    export default {
        name: 'WidgetError',
        mixins: [widgetMixin]
    };
</script>

<style scoped></style>