<template>
    <v-app>
        <v-navigation-drawer
                v-if="menuData.length"
                v-model="showDrawer"
                app
        >
            <v-list>
                <v-list-group
                        v-for="(sm,idx) in menuData"
                        :key="idx"
                        no-action value="true"
                        prepend-icon="bookmark"
                >
                    <v-list-tile slot="activator">
                        <v-list-tile-title>{{sm.section}}</v-list-tile-title>
                    </v-list-tile>

                    <v-list-tile
                            v-for="(m,idx) in sm.menus"
                            :key="idx"
                            :to="'/m/'+m.path"
                    >
                        <v-list-tile-title class="caption">{{m.display}}</v-list-tile-title>
                        <v-list-tile-action v-if="m.icon">
                            <v-icon>{{m.icon}}</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list-group>
            </v-list>
        </v-navigation-drawer>

        <v-toolbar
                app
                dark
                color="primary"
        >
            <v-toolbar-side-icon
                    v-if="menuData.length"
                    @click="toggleMenus"
            ></v-toolbar-side-icon>
            <v-toolbar-title>{{title||''}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn
                    v-if="$route.path!=='/'"
                    to="/"
                    icon
            >
                <v-icon>home</v-icon>
            </v-btn>
        </v-toolbar>

        <v-content>
            <v-container fluid grid-list-lg>
                <slot></slot>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import {apiListOfMenus} from '../../api';

    export default {
        name: 'AppWithMenu',
        props: ['title', 'loadMenu'],

        methods: {
            doLoadMenu() {
                if (!this.loadMenu) return;

                // const menu = sessionStorage.getItem('menu');
                // if (menu && menu !== '[]') {
                //     this.menuData = JSON.parse(menu);
                //     return;
                // }

                const jwt = localStorage.getItem('jwt');
                if (!jwt) {
                    this.$router.replace('/login');
                    return;
                }

                apiListOfMenus(this, jwt, data => {
                    // sessionStorage.setItem('menu', JSON.stringify(data));
                    this.menuData = data;
                });
            },

            toggleMenus() {
                this.showDrawer = !this.showDrawer;
            }
        },

        data: () => ({
            menuData: [],
            showDrawer: false
        }),

        created() {
            this.doLoadMenu();
            this.$watch('$route.path', () => {
                this.doLoadMenu();
            });
        }
    };
</script>

<style scoped></style>