<template>
    <v-flex :xs12="!ctx.element.half" :xs6="ctx.element.half">
        <p class="caption ma-0 mt-1" style="color:grey">{{ctx.element.label||ctx.element.name}}</p>

        <p v-if="!noDeletedItems.length"
           class="subheading mt-3"
        >{{ctx.element.no_items_text}}</p>
        <slot v-else
              name="render"
              :items="noDeletedItems"
              :deleteItem="deleteItem"
        ></slot>

        <v-card v-if="ctx.element.edit" color="grey lighten-4" class="mt-3">
            <v-card-text>
                <v-layout column>
                    <p class="caption">Filter</p>
                    <v-text-field v-model="searchText"
                                  @input="search"
                                  @keyup.enter="addTextToItems(searchText)"
                    ></v-text-field>

                    <v-layout row nowrap>
                        <v-btn dark @click="addTextToItems(searchText)">{{ctx.element.add_text}}</v-btn>
                    </v-layout>

                    <v-data-table
                            disable-initial-sort
                            :headers="ctx.element.headers"
                            :items="itemsFound"
                            :hide-actions="ctx.element.hide_actions"
                            :rows-per-page-items="ctx.element.rows_per_page"
                            class="mt-3"
                    >

                        <template slot="headers" slot-scope="props">
                            <tr class="secondary">
                                <th v-for="(header,idx) in props.headers"
                                    :key="idx"
                                    class="text-xs-left"
                                >{{header.text}}
                                </th>
                            </tr>
                        </template>

                        <template slot="items" slot-scope="props">
                            <tr style="vertical-align:top" @click="addItemAndClearSearch(props.item)">
                                <td v-for="(header,idx) in ctx.element.headers"
                                    :key="idx"
                                    :style="header.style"
                                >{{props.item[header.value]}}
                                </td>
                            </tr>
                        </template>

                    </v-data-table>
                </v-layout>
            </v-card-text>
        </v-card>

        <p v-if="ctx.element.edit" class="caption" style="color:grey">{{ctx.element.hint}}</p>
    </v-flex>
</template>

<script>
    import {runHook} from '../../lib-hook';

    export default {
        name: "BaseItemsSearchTable",
        props: ['ctx'],

        data() {
            return {
                items: [],
                refItems: [],
                searchText: '',
                itemsFound: []
            };
        },

        computed: {
            noDeletedItems() {
                return this.items.filter(item => !item.$delete);
            }
        },

        methods: {
            search() {
                // Find existing ids in items for duplication check
                let existingIds = {};

                this.items.forEach(item => {
                    if (item.$delete) return;
                    existingIds[item[this.ctx.element.prop]] = true;
                });

                // Compile searched items
                const items = [];
                this.refItems.forEach(item => {
                    if (existingIds[item[this.ctx.element.prop]]) return;
                    for (const searchBy of this.ctx.element.search_by) {
                        if (item[searchBy].toLowerCase().includes(this.searchText.toLowerCase())) {
                            items.push(item);
                            return;
                        }
                    }
                });
                this.itemsFound = items;
            },

            addTextToItems(text) {
                const lowerText = text.toLowerCase();

                for (const item of this.items)
                    if (item[this.ctx.element.prop].toLowerCase() === lowerText && !item.$delete) {
                        // Found duplicate item, do not add item
                        this.clearSearch();
                        return;
                    }

                for (const item  of this.refItems)
                    if (item[this.ctx.element.prop].toLowerCase() === lowerText) {
                        // Found item in refItems
                        this.addItemAndClearSearch(item);
                        return;
                    }

                // Add text as item that is not in reference

                if (!this.ctx.element.may_add_not_in_ref) {
                    alert('Aborted: Can not add text that is not in the reference/table');
                    return;
                }

                let item = {$notInRef: true};
                item[this.ctx.element.prop] = text;
                this.addItemAndClearSearch(item);
            },

            addItemAndClearSearch(item) {
                // Remove duplicate item from this.items and check for $delete
                let wasDeleted = false;
                const items = [];
                (() => {
                    const lowerText = item[this.ctx.element.prop].toLowerCase();
                    for (const item of this.items) {
                        if (item[this.ctx.element.prop].toLowerCase() === lowerText) {
                            if (item.$delete) wasDeleted = true;
                        } else
                            items.push(item);
                    }
                })();
                this.replaceItems(items); // instead of this.items = items

                // Add a copy of the item
                let clone = JSON.parse(JSON.stringify(item));
                if (!wasDeleted) clone.$insert = true;
                this.items.push(clone);

                this.changed();
                this.clearSearch();
            },

            // Clear the search text and rerender search table
            clearSearch() {
                this.searchText = '';
                this.search(); // rerender search table
            },

            deleteItem(item) {
                this.$set(item, '$delete', true);
                this.changed();
                this.cleanUpItems();
                this.search(); // rerender search table
            },

            // clean up items using the same reference
            cleanUpItems() {
                const items = [];
                this.items.forEach(item => {
                    if (!(item.$insert && item.$delete)) items.push(item);
                });
                this.replaceItems(items); // instead of this.items = items
            },

            replaceItems(items) {
                this.items.length = 0;
                items.forEach(item => {
                    this.items.push(item);
                });
            },

            changed() {
                const noop = () => {};
                const error = err => {console.error(`error changed hook: ${err}`);};
                runHook(this.ctx.form, 'changed', noop, this.ctx, this.ctx.element.name, noop, error);
            }
        },

        created() {
            this.$set(this.ctx.element, 'prop', this.ctx.element.prop || 'id');
            this.$set(this.ctx.element, 'search_by', this.ctx.element.search_by || ['id']);
            this.$set(this.ctx.element, 'headers', this.ctx.element.headers || []);
            this.$set(this.ctx.element, 'add_text', this.ctx.element.add_text || 'Add');
            this.$set(this.ctx.element, 'no_items_text', this.ctx.element.no_items_text || '-- no data --');
            this.$set(this.ctx.element, 'rows_per_page',
                this.ctx.element.rows_per_page || [5, 10, {text: 'All', value: -1}]);

            if (this.ctx.element.hide_actions === undefined)
                this.$set(this.ctx.element, 'hide_actions', false);

            if (this.ctx.element.may_add_not_in_ref === undefined)
                this.$set(this.ctx.element, 'may_add_not_in_ref', false);

            this.$set(this.ctx.data, this.ctx.element.ref, this.ctx.data[this.ctx.element.ref] || []);

            this.items = this.ctx.data[this.ctx.element.name];
            this.refItems = this.ctx.data[this.ctx.element.ref];
            this.search();
        }
    };
</script>

<style scoped></style>