<template>
    <div>
        <v-container v-if="base.items&&base.items.length" grid-list-lg pa-0>
            <v-layout column>
                <v-flex v-for="(item,tidx) in base.items" :key="tidx">
                    <v-card>
                        <v-card-title class="accent title">
                            <div>
                                <h3 v-if="item.table" class="title">{{item.table}}</h3>
                                <p v-if="item.description" class="subheading mt-2 mb-2">{{item.description}}</p>
                            </div>
                        </v-card-title>

                        <v-card-text>
                            <template v-for="(sec,sidx) in item.sections">

                                <v-list :key="`sec:${sidx}`" three-line>
                                    <v-subheader v-if="sec.section">{{sec.section}}</v-subheader>
                                    <v-list-tile
                                            v-for="(secItem,iidx) in sec.list"
                                            :key="iidx"
                                            :to="secItem.url"
                                    >

                                        <v-list-tile-content>
                                            <v-list-tile-title v-if="secItem.title">{{secItem.title}}</v-list-tile-title>
                                            <v-list-tile-sub-title v-if="secItem.subtitle">{{secItem.subtitle}}
                                            </v-list-tile-sub-title>
                                        </v-list-tile-content>

                                        <!-- Show assignments icon only if url / secItem.url is defined -->
                                        <v-list-tile-action v-if="secItem.url">
                                            <v-icon>assignments</v-icon>
                                        </v-list-tile-action>

                                    </v-list-tile>
                                </v-list>

                                <v-divider v-if="sidx<item.sections.length-1" :key="`div:${sidx}`"></v-divider>

                            </template>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>

        <div v-else>{{base.no_data}}</div>
    </div>
</template>

<script>
    export default {
        name: "BaseList",
        props: ['base']
    };
</script>

<style scoped></style>