<template>
    <v-card>
        <v-card-text>
            <v-form>
                <v-container grid-list-lg>
                    <v-layout v-if="sub.elements" row wrap>
                        <template v-for="(element,idx) in sub.elements">
                            <component
                                    v-show="!element.hide"
                                    :key="`${idx}:${element.$render}`"
                                    :is="element.tag"
                                    :ctx="{...sub,element,sub:true}"
                                    @changed="$emit('changed',$event)"
                            ></component>
                        </template>
                    </v-layout>
                </v-container>
            </v-form>
        </v-card-text>

        <v-card-actions v-if="sub.buttons" class="text-xs-center justify-center">
            <v-btn
                    v-for="(button,bi) in sub.buttons"
                    :key="bi"
                    color="dark"
                    @click="click(button)"
            >{{button.name}}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "SubForm",
        props: ['sub'],
        methods: {
            click(button) {
                if (this.sub.click)
                    this.sub.click(button);
            }
        }
    };
</script>

<style scoped></style>