<!--<template>-->
<!--    <AppWithMenu title="Login Error" :load-menu="false">-->
<!--        <v-alert value="1" type="error" outline>Error login: Incorrect email or password</v-alert>-->
<!--    </AppWithMenu>-->
<!--</template>-->

<!--<script>-->
<!--    import {pageMixin} from '../../mixins';-->

<!--    export default {-->
<!--        name: 'PageErrorLogin',-->
<!--        mixins: [pageMixin]-->
<!--    };-->
<!--</script>-->

<!--<style scoped></style>-->