<template>
    <AppWithMenu :title="ctx.title" :load-menu="true">
        <RenderView :ctx="ctx" :key="render"></RenderView>
    </AppWithMenu>
</template>

<script>
    import {apiIndexPage} from '../../api';
    import {viewerMixin} from '../../mixins';

    export default {
        name: 'PageIndex',
        mixins: [viewerMixin],
        created() {
            const jwt = localStorage.getItem('jwt');
            if (!jwt) {
                this.$router.replace('/login');
                return;
            }
            apiIndexPage(this, jwt);
        }
    };
</script>

<style scoped></style>