<template>
    <AppWithMenu title="Page Not Found" :load-menu="false">
        <v-alert value="1" type="error" outline>Page not found</v-alert>
    </AppWithMenu>
</template>

<script>
    import {pageMixin} from '../../mixins';

    export default {
        name: 'PageNotFound',
        mixins: [pageMixin]
    };
</script>

<style scoped></style>