<template>
    <AppWithMenu title="Wait" :load-menu="false">
        <v-alert value="1" type="info" outline>
            Wait and follow further instructions from your email
        </v-alert>
    </AppWithMenu>
</template>

<script>
    import {pageMixin} from '../../mixins';

    export default {
        name: 'PageWaitEmail',
        mixins: [pageMixin]
    };
</script>

<style scoped></style>