<template>
    <AppWithMenu title="Error" :load-menu="false">
        <v-alert value="1" type="error" outline>OOPS ...</v-alert>
    </AppWithMenu>
</template>

<script>
    import {pageMixin} from '../../mixins';

    export default {
        name: 'PageError',
        mixins: [pageMixin]
    };
</script>

<style scoped></style>