<template>
    <AppWithMenu :title="ctx.title" :load-menu="true">
        <RenderView :ctx="ctx" :key="render"></RenderView>
    </AppWithMenu>
</template>

<script>
    import {apiTaskPage} from '../../api';
    import {viewerMixin} from '../../mixins';

    export default {
        name: 'PageTasks',
        mixins: [viewerMixin],
        props: ['taskId'],
        methods: {
            getTask() {
                const jwt = localStorage.getItem('jwt');
                if (!jwt) return;
                apiTaskPage(this, jwt, this.taskId);
            }
        },
        created() {
            this.getTask();
        }
    };
</script>

<style scoped></style>