<template>
    <AppWithMenu title="Create Password" :load-menu="false">
        <div>
            <h1 class="mb-3">Create Password</h1>

            <v-card>
                <v-card-text>
                    <v-form v-model="valid" @submit.prevent>
                        <v-text-field v-model="password"
                                      label="Password"
                                      type="password"
                                      @keyup.enter="createPassword"
                        ></v-text-field>
                        <v-btn :disabled="!valid" @click="createPassword">create</v-btn>
                    </v-form>
                </v-card-text>
            </v-card>
        </div>
    </AppWithMenu>
</template>

<script>
    import {apiCreatePassword} from '../../api';
    import {pageMixin} from '../../mixins';

    export default {
        name: 'PageCreatePassword',
        mixins: [pageMixin],
        methods: {
            createPassword() {
                apiCreatePassword(this, this.password, this.$route.query.jwt, data => {
                    localStorage.setItem('jwt', data.jwt);
                    this.$router.replace('/');
                });
            }
        },
        data: () => ({
            valid: false,
            password: ''
        }),
        created() {
            if (!this.$route.query.jwt) this.$router.replace('/error');
        }
    };
</script>

<style scoped></style>