<template>
    <AppWithMenu title="Updating ..." :load-menu="false">
        <h1>Loading ...</h1>
    </AppWithMenu>
</template>

<script>
    import {pageMixin} from '../../mixins';

    export default {
        name: 'PageFromEmail',
        mixins: [pageMixin],
        created() {
            let jwt = this.$route.query.jwt;
            if (!jwt) this.$router.replace('/error');
            localStorage.setItem('jwt', jwt);
            this.$router.replace('/');
        }
    };
</script>

<style scoped></style>