<template>
    <AppWithMenu :title="ctx.title" :load-menu="true">
        <RenderView :ctx="ctx" :key="render"></RenderView>
    </AppWithMenu>
</template>

<script>
    import {apiMenuPage} from '../../api';
    import {viewerMixin} from '../../mixins';

    export default {
        name: 'PageMenus',
        mixins: [viewerMixin],
        methods: {
            getMenu() {
                const jwt = localStorage.getItem('jwt');
                if (!jwt) return;
                apiMenuPage(this, jwt, this.$route.path.slice(2));
            }
        },
        created() {
            this.getMenu();
            this.$watch('$route.path', () => {
                this.getMenu();
            });
        }
    };
</script>

<style scoped></style>