<template>
    <AppWithMenu title="Authentication" :load-menu="false">
        <div>
            <p>
                You see this page either because you are unauthorized to access previous page, your session has been
                expired or you clicked on expired link. So you may need to re-authenticate yourself for further access.
            </p>
            <p>
                NOTES: Due to recent upgrade of the app, existing users will need to re-register. Please apologize for
                the inconveniences.
            </p>

            <v-card>
                <v-card-text>
                    <v-form v-model="valid" @submit.prevent>
                        <v-text-field v-model="email"
                                      label="E-mail"
                                      :rules="emailRules"
                                      @keyup.enter="registerIfNotInLoginMode"
                        ></v-text-field>
                        <v-text-field v-if="isLogin"
                                      v-model="password"
                                      label="Password (this is not AD password)"
                                      type="password"
                                      @keyup.enter="login"
                        ></v-text-field>
                        <v-btn v-if="isLogin" :disabled="!valid" @click="login">login</v-btn>
                        <v-btn v-if="!isLogin" :disabled="!valid" @click="register">register / reset password</v-btn>
                        <div v-if="!isLogin">
                        <span>
                            I already have an account.
                        </span><span @click="isLogin=true"
                                     class="link">
                        Let me login</span>
                        </div>
                        <div v-if="isLogin">
                        <span>
                            Don't have an account?
                        </span><span @click="isLogin=false"
                                     class="link">
                        Click here to register / reset password</span>
                        </div>
                    </v-form>
                </v-card-text>
            </v-card>
        </div>
    </AppWithMenu>
</template>

<script>
    import {apiLogin, apiRegister} from '../../api';
    import {pageMixin} from '../../mixins';

    export default {
        name: 'PageLogin',
        mixins: [pageMixin],
        methods: {
            registerIfNotInLoginMode() {
                if (!this.isLogin) this.register();
            },

            register() {
                apiRegister(this, this.email, () => {this.$router.replace('/wait');});
            },

            login() {
                localStorage.clear();
                apiLogin(this, this.email, this.password, data => {
                    if (!data.jwt) return;
                    localStorage.setItem('jwt', data.jwt);
                    this.$router.replace('/');
                });
            }
        },
        data: () => ({
            isLogin: true,
            valid: false,
            email: '',
            password: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail is not valid'
            ]
        })
    };
</script>

<style scoped>
    .link {
        text-decoration: underline;
        cursor: pointer
    }
</style>